@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica_neue.woff") format("woff"), url("../fonts/helvetica_neue.ttf") format("ttf");
}

@font-face {
  font-family: "Lucida Grande";
  src: url("../fonts/lucida_grande.woff") format("woff"), url("../fonts/lucida_grande.ttf") format("ttf");
}

@font-face {
  font-family: "PingFang SC";
  src: url("../fonts/ping_fang_sc_medium.woff") format("woff"), url("../fonts/ping_fang_sc_medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "PingFang SC";
  src: url("../fonts/ping_fang_sc_regular.woff") format("woff"), url("../fonts/ping_fang_sc_regular.ttf") format("ttf");
}

@font-face {
  font-family: "PingFang SC";
  src: url("../fonts/ping_fang_sc_semibold.woff") format("woff"), url("../fonts/ping_fang_sc_semibold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/sfpro_text_regular.woff") format("woff"), url("../fonts/sfpro_text_regular.ttf") format("ttf");
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/sfpro_text_semibold.woff") format("woff"), url("../fonts/sfpro_text_semibold.ttf") format("ttf");
  font-weight: 600;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0; }

.responsive-group,
.artboard {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: none; }

svg * {
  pointer-events: none; }

.hotspot {
  opacity: 0;
  fill: transparent; }

.interactive-area {
  stroke: #3B99FC;
  fill: #3B99FC;
  fill-opacity: 0.5;
  opacity: 0;
  pointer-events: none; }

.hotspot,
.interactive {
  cursor: pointer;
  pointer-events: visible; }

.interactive--quiet {
  cursor: default; }

.absorbs-events {
  pointer-events: visible; }

.hit-area,
foreignObject.interactive > div {
  pointer-events: visible; }

.scrollable > *:not(g) {
  pointer-events: visible; }

.visible {
  display: block; }

foreignObject {
  overflow: visible; }

.html-text {
  word-wrap: break-word; }

.html-text-outer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }
  .html-text-outer > .html-text {
    display: table-cell; }

#prototype {
  overflow: hidden; }

.tab {
  display: inline-block;
  width: 29px; }

ul {
  padding-left: 26px; }
  ul li {
    padding-left: 10px; }

ol {
  padding-left: 22px; }
  ol li {
    padding-left: 14px; }

p,
ul,
ol {
  margin: 0; }
.responsive-group,
.artboard {
  bottom: 0; }

text,
.html-text {
  cursor: default; }

.interactive text,
.interactive .html-text {
  cursor: pointer; }

#prototype {
  position: relative;
  z-index: 0;
  background-color: black; }
  #prototype.not-full-viewport {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid black; }

#desktop-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  bottom: -webkit-calc(0px - constant(safe-area-inset-top));
  bottom: -moz-calc(0px - constant(safe-area-inset-top));
  bottom: calc(0px - constant(safe-area-inset-top));
  bottom: -webkit-calc(0px - env(safe-area-inset-top));
  bottom: -moz-calc(0px - env(safe-area-inset-top));
  bottom: calc(0px - env(safe-area-inset-top));
  background-color: black;
  overflow: hidden; }
  #desktop-container.active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #828282), color-stop(99%, transparent));
    background-image: -webkit-linear-gradient(top, #828282 2%, transparent 99%);
    background-image: -moz-linear-gradient(top, #828282 2%, transparent 99%);
    background-image: -o-linear-gradient(top, #828282 2%, transparent 99%);
    background-image: linear-gradient(-180deg, #828282 2%, transparent 99%);
    background-color: #575757; }
    #desktop-container.active .devices {
      display: block; }
  #desktop-container .made-with-protowire {
    position: absolute;
    left: 30px;
    bottom: 30px; }

#sidebar {
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 30px 25px;
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(122, 124, 133, 0.95);
  z-index: 1;
  display: none; }
  #sidebar .button,
  #sidebar .radio-buttons-group {
    margin-top: 20px; }
    #sidebar .button:first-child,
    #sidebar .radio-buttons-group:first-child {
      margin-top: 0; }
  #sidebar.is-hidden {
    -webkit-transform: translateX(-200px);
       -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
         -o-transform: translateX(-200px);
            transform: translateX(-200px); }
    #sidebar.is-hidden #show-hide-sidebar {
      -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
         -moz-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
              box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
      -webkit-transform: rotateY(180deg) translateY(-50%);
         -moz-transform: rotateY(180deg) translateY(-50%);
              transform: rotateY(180deg) translateY(-50%);
      background-color: #7A7C85; }

.button,
.radio-buttons-group {
  border: 1px solid white;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  font: 300 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 13px; }

.button {
  display: block;
  height: 44px;
  line-height: 44px;
  text-decoration: none;
  -webkit-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in; }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .button.is-disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
    text-decoration: none; }
  .button .label {
    padding-left: 21px; }

.button-icon {
  margin-right: 5px; }

#change-orientation-button {
  display: none; }
  #change-orientation-button .label {
    background: url("../images/button_icon_portrait@2x.png") left 13px/16px 16px no-repeat; }
  #change-orientation-button.is-landscape .label {
    background-image: url("../images/button_icon_landscape@2x.png"); }

.radio-buttons-group {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .radio-buttons-group li {
    -webkit-transition: background-color 200ms ease-in;
    -o-transition: background-color 200ms ease-in;
    -moz-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in; }
    .radio-buttons-group li:first-child label {
      padding-top: 14px; }
    .radio-buttons-group li:first-child input[type=radio]:checked + label {
      background-position: 13px 14px; }
    .radio-buttons-group li:last-child label {
      padding-bottom: 14px; }
    .radio-buttons-group li:last-child input[type=radio]:checked + label {
      background-position: 13px 8px; }
    .radio-buttons-group li:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .radio-buttons-group label {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 34px;
    display: block;
    cursor: pointer; }
  .radio-buttons-group input[type=radio] {
    display: none; }
    .radio-buttons-group input[type=radio]:checked + label {
      background: url("../images/checkmark@2x.png") 13px center/16px 16px no-repeat; }

#show-hide-sidebar {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 30px;
  height: 65px;
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
       background-size: 100% 100%;
  right: 0;
  -webkit-transform-origin: 100% 0;
     -moz-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
       -o-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-border-top-left-radius: 8px;
     -moz-border-radius-topleft: 8px;
          border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
     -moz-border-radius-bottomleft: 8px;
          border-bottom-left-radius: 8px;
  background-image: url("../images/show_hide_sidebar@2x.png");
  line-height: 0;
  font-size: 0;
  color: transparent; }

.made-with-protowire {
  display: block; }

.device {
  position: absolute;
  display: none; }

.devices {
  display: none;
  pointer-events: none; }

.prototype {
  z-index: 0; }

#fullscreen-instructions {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font: 300 18px/28px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }
  #fullscreen-instructions a {
    color: #007AFF;
    text-decoration: none; }
  #fullscreen-instructions p {
    margin-bottom: 20px; }
  #fullscreen-instructions .made-with-protowire {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }
  #fullscreen-instructions .instructions {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center; }
  #fullscreen-instructions .arrow {
    position: absolute; }
  #fullscreen-instructions .device-specific-instructions {
    display: none; }
  #fullscreen-instructions.is-button-above {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #FFFFFF), color-stop(40%, rgba(255, 255, 255, 0.92)));
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 17%, rgba(255, 255, 255, 0.92) 40%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 17%, rgba(255, 255, 255, 0.92) 40%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 17%, rgba(255, 255, 255, 0.92) 40%);
    background-image: linear-gradient(0deg, #FFFFFF 17%, rgba(255, 255, 255, 0.92) 40%); }
    #fullscreen-instructions.is-button-above .made-with-protowire {
      bottom: 20px; }
    #fullscreen-instructions.is-button-above .arrow {
      top: 10px;
      -webkit-animation: 800ms ease-in infinite alternate arrow-top;
         -moz-animation: 800ms ease-in infinite alternate arrow-top;
           -o-animation: 800ms ease-in infinite alternate arrow-top;
              animation: 800ms ease-in infinite alternate arrow-top; }
  #fullscreen-instructions.is-button-below {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #FFFFFF), color-stop(32%, rgba(255, 255, 255, 0.92)));
    background-image: -webkit-linear-gradient(top, #FFFFFF 15%, rgba(255, 255, 255, 0.92) 32%);
    background-image: -moz-linear-gradient(top, #FFFFFF 15%, rgba(255, 255, 255, 0.92) 32%);
    background-image: -o-linear-gradient(top, #FFFFFF 15%, rgba(255, 255, 255, 0.92) 32%);
    background-image: linear-gradient(-180deg, #FFFFFF 15%, rgba(255, 255, 255, 0.92) 32%); }
    #fullscreen-instructions.is-button-below .made-with-protowire {
      top: 20px; }
    #fullscreen-instructions.is-button-below .arrow {
      bottom: 10px;
      -webkit-animation: 800ms ease-in infinite alternate arrow-bottom;
         -moz-animation: 800ms ease-in infinite alternate arrow-bottom;
           -o-animation: 800ms ease-in infinite alternate arrow-bottom;
              animation: 800ms ease-in infinite alternate arrow-bottom; }
  #fullscreen-instructions.is-iphone .iphone-instructions {
    display: inline; }
  #fullscreen-instructions.is-iphone .arrow {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }
  #fullscreen-instructions.is-ipad .ipad-instructions {
    display: inline; }
  #fullscreen-instructions.is-ipad .arrow {
    right: 128px; }
  #fullscreen-instructions.is-android .android-instructions {
    display: inline; }
  #fullscreen-instructions.is-android .arrow {
    right: 10px; }

.share-icon,
.overflow-icon {
  position: relative;
  margin-left: 7px;
  margin-right: 7px; }

.share-icon {
  top: 3px; }

.overflow-icon {
  top: 3px; }

@-webkit-keyframes arrow-bottom {
  from {
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@-moz-keyframes arrow-bottom {
  from {
    -moz-transform: translate(-50%, -10px);
         transform: translate(-50%, -10px); }
  to {
    -moz-transform: translate(-50%, 0);
         transform: translate(-50%, 0); } }

@-o-keyframes arrow-bottom {
  from {
    -o-transform: translate(-50%, -10px);
       transform: translate(-50%, -10px); }
  to {
    -o-transform: translate(-50%, 0);
       transform: translate(-50%, 0); } }

@keyframes arrow-bottom {
  from {
    -webkit-transform: translate(-50%, -10px);
       -moz-transform: translate(-50%, -10px);
         -o-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px); }
  to {
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@-webkit-keyframes arrow-top {
  from {
    -webkit-transform: translateY(10px) rotate(180deg);
            transform: translateY(10px) rotate(180deg); }
  to {
    -webkit-transform: translate(0) rotate(180deg);
            transform: translate(0) rotate(180deg); } }

@-moz-keyframes arrow-top {
  from {
    -moz-transform: translateY(10px) rotate(180deg);
         transform: translateY(10px) rotate(180deg); }
  to {
    -moz-transform: translate(0) rotate(180deg);
         transform: translate(0) rotate(180deg); } }

@-o-keyframes arrow-top {
  from {
    -o-transform: translateY(10px) rotate(180deg);
       transform: translateY(10px) rotate(180deg); }
  to {
    -o-transform: translate(0) rotate(180deg);
       transform: translate(0) rotate(180deg); } }

@keyframes arrow-top {
  from {
    -webkit-transform: translateY(10px) rotate(180deg);
       -moz-transform: translateY(10px) rotate(180deg);
         -o-transform: translateY(10px) rotate(180deg);
            transform: translateY(10px) rotate(180deg); }
  to {
    -webkit-transform: translate(0) rotate(180deg);
       -moz-transform: translate(0) rotate(180deg);
         -o-transform: translate(0) rotate(180deg);
            transform: translate(0) rotate(180deg); } }

#a(null) { display: block; }
